@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200;300;400;500;600&family=Montserrat:wght@300&family=Noto+Kufi+Arabic:wght@100;200;300;500;600;700;800;900&family=Tajawal:wght@200;300;400;500;700&display=swap');
body{
    margin: 0;
    color: whitesmoke;
    direction: rtl;
    font-family: 'Noto Kufi Arabic', sans-serif;
}
#main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(55 65 81);
    height: 100vh;

}
#reply-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    margin-top: 20rem;
    border-radius: 70px;
    border: 1px solid rgba(104, 104, 104, 0.597);
    color: #bebebe;
    /* background-color: red; */
    width: 1024px;
}
#reply-content img{
    width: 10rem;
    opacity: .2;
}
#lottie-animation{
    width: 4rem;
}
#main-logo img{
    width: 9rem;
    margin-top: 20rem;
    opacity: .5;
}


#main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(227, 227, 227); */
    /* height: 200px; */
    /* width: 700px; */
    padding: 15px;
    margin-bottom: 5rem;
    border-radius: 10px;
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3); */
    gap: 10px;
}
#word-input{
    border: 1px solid rgba(109, 109, 109, 0.536);
    width: 500px;
    height: 50px;
    border-radius: 100px;
    padding: 0px 20px;
    outline: none;
    font-size: 1rem;
    font-family: 'Noto Kufi Arabic', sans-serif;
    background-color: rgb(55 65 81);
    color: whitesmoke;
}
#submit-btn{
    height: 50px;
    padding: 0 3rem;
    border: none;
    border-radius: 1rem;
    border: 1px solid rgba(109, 109, 109, 0.536);
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 1.04rem;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(58, 67, 82);
    color: #bebebe;
}
#submit-btn:hover{
    background-color: rgb(73, 86, 107);
}

/* loading */
.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #dbdcef #0000;
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: #474bff #0000;
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(1turn);
    }
  }